html, body { height:100%; }
.navbar-brand img { max-width:200px; max-height:50px; }
.navbar a { color:#FFF !important; }
main { background-color:#f8f9fa; }
main .container { background-color:#FFF; }
.card-pick-gratis { background-color:#efefef; margin-bottom:25px; }
.btn-pick-gratis { width:100%; margin-top:10px; }
.footer { width:100%; }
.footer a { color:#FFF; }