<div class="card card-pick-gratis">
    <div class="card-body">
        <img class="rounded-circle d-inline" src="media/img_avatar.png" alt="" style="max-height:50px;">
        <a class="text-dark d-inline" href="#!capper">
            <h5 class="d-inline">Cristian Adelwis</h5>
        </a>
        <div class="card my-3">
            <div class="card-body py-2">
                <p class="small my-1">4 de Septiembre, 8:00 PM dentro de 8h</p>
                <p class="small my-1">NBA | Chicago Bulls vs Boston Celtis</p>
                <hr class="my-2">
                <p class="py-0">
                    Free Play on Mystics vs Dream <b>OVER 160 -110</b>
                </p>
                <hr class="my-2">
                <p class="small my-1">
                    <span class="far fa-clock"></span> Publicado 3 de Septiembre, 8:00 AM
                </p>
            </div>
        </div>  
        <a href="" class="btn btn-success btn-pick-gratis d-block mt-3">Click aca para opciones premium</a>
    </div>
</div>