<div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Paquete 1</h4>
    </div>
    <div class="card-body">
        <div class="d-block">
            <img class="img-fluid rounded-circle" src="media/product.jpg">
        </div>
        <h1 class="card-title">$ 5</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Beneficio 1</li>
          <li>Beneficio 2</li>
          <li>Beneficio 3</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Comprar</button>
    </div>
</div>