<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <img class="card-img" src="media/img_avatar.png" alt="image">    
            </div>
            <div class="col-9">
                <h4 class="card-title">
                    <a href="#!capper">Cristian Adelwis</a>
                </h4>
                <div>
                    <span class="badge badge-pill badge-info">info</span> <span class="badge badge-pill badge-info">Info</span> <span class="badge badge-pill badge-info">Info</span>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit blandit, rutrum sagittis aliquet morbi nullam ultricies aptent et, sollicitudin montes habitant mattis urna nisi ac.</p>
                <a href="" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>
</div>