<div class="container px-0">
    <!--Casourel entrada-->
    <section>
        <div id="carouselComponente" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselComponente" data-slide-to="0" class="active"></li>
                <li data-target="#carouselComponente" data-slide-to="1"></li>
                <li data-target="#carouselComponente" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://picsum.photos/700/394?image=1" alt="Primer slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Lorem ipsum dolor sit amet</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit viverra duis sociosqu malesuada luctus, facilisis ligula diam mauris parturient</p>
                        <button type="button" class="btn btn-info">Ver más</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://picsum.photos/700/394?image=2" alt="Segundo slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Lorem ipsum dolor sit amet</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit viverra duis sociosqu malesuada luctus, facilisis ligula diam mauris parturient</p>
                        <button type="button" class="btn btn-info">Ver más</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://picsum.photos/700/394?image=3" alt="Tercer slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Lorem ipsum dolor sit amet</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit viverra duis sociosqu malesuada luctus, facilisis ligula diam mauris parturient</p>
                        <button type="button" class="btn btn-info">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Carousel entrada-->
    
    <!--Testimonios-->
    <section class="testimonios text-center py-1 py-sm-2 py-md-3 py-lg-4 py-xl-5">
        <div class="container">
            <h2 class="mb-5">Lorem ipsum dolor sit amet consectetur adipiscing</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonios-item mx-auto mb-5 mb-lg-0">
                        <div class="w-100 px-5">
                            <img class="img-fluid rounded-circle mb-3" src="media/img_avatar.png" alt="">
                        </div>
                        <h5>Cristian Adelwis 1</h5>
                        <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet consectetur adipiscing</p> 
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonios-item mx-auto mb-5 mb-lg-0">
                        <div class="w-100 px-5">
                            <img class="img-fluid rounded-circle mb-3" src="media/img_avatar.png" alt="">
                        </div>
                        <h5>Cristian Adelwis 2</h5>
                        <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet consectetur adipiscing</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonios-item mx-auto mb-5 mb-lg-0">
                        <div class="w-100 px-5">
                            <img class="img-fluid rounded-circle mb-3" src="media/img_avatar.png" alt="">
                        </div>
                        <h5>Cristian Adelwis 2</h5>
                        <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet consectetur adipiscing</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonios-->
    
    <!--Mail suscripcion-->
    <section>
        <div class="suscripcion-mail jumbotron text-center mb-0 rounded-0">
            <h1>Suscripcion</h1> 
            <p>Lorem ipsum dolor sit amet consectetur adipiscing</p> 
            <form class="form-inline text-center">
                <div class="input-group mx-auto">
                    <input class="form-control" size="50" placeholder="Correo electronico" required="" type="email">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger">Suscribirme</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>