<div class="px-3 py-3 pt-md-2 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Precios</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit eleifend massa vitae augue, posuere cubilia duis tempor conubia pulvinar nisl hendrerit nulla. Pretium ultricies ullamcorper litora vitae ante tempus fringilla eu orci nunc molestie, primis elementum aenean quis justo etiam suscipit himenaeos metus suspendisse, porta facilisis dis magna morbi natoque lacinia euismod luctus pellentesque.</p>
</div>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Paquete 1</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">$ 5.00</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Lorem ipsum</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Paquete 2</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">$ 10.00</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Paquete 3</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">$ 25.00</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
        </div>
    </div>
</div>