<table class="table my-5">
  <tbody>
    <tr>
        <td>Paquete 1</td>
        <td>Resumen paquete 1</td>
        <td><h2>$ 5</h2></td>
        <td>
          <button type="button" class="btn btn-md btn-block btn-primary">Comprar</button>
        </td>
    </tr>
    <tr>
        <td>Paquete 2</td>
        <td>Resumen paquete 2</td>
        <td><h2>$ 10</h2></td>
        <td>
          <button type="button" class="btn btn-md btn-block btn-primary">Comprar</button>
        </td>
    </tr>
    <tr>
        <td>Paquete 3</td>
        <td>Resumen paquete 3</td>
        <td><h2>$ 15</h2></td>
        <td>
            <button type="button" class="btn btn-md btn-block btn-primary">Comprar</button>
        </td>
    </tr>
    <tr>
        <td>Paquete 4</td>
        <td>Resumen paquete 4</td>
        <td><h2>$ 20</h2></td>
        <td>
            <button type="button" class="btn btn-md btn-block btn-primary">Comprar</button>
        </td>
    </tr>
  </tbody>
</table>